{% extends 'IamSoftAndrethaBundle:Default:base.html.twig' %}

{%block content%}

<h1>DocumentoTipoTramite creation</h1>

<form action="{{ path('documentotipotramite_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('documentotipotramite') }}">
            Back to the list
        </a>
    </li>
</ul>
{%endblock%}
