<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>{% block title %}A[nd]re[th]a{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {%block header%} 
        {%endblock%}
          
        {%block flash%}
          {% if app.session.hasFlash('notice') %}
            <div class="flash-notice">
                {{ app.session.flash('notice') }}
            </div>
          {% endif %}
        {%endblock%}
          
        
        {%block menu%} {%endblock%}
        
        {%block content%} {%endblock%}
        
        {%block footer%} {%endblock%}
        
        {% block javascripts %}{% endblock %}
        
    </body>
</html>