{% extends '::base.html.twig' %}

{%block content%}
<h1>RegistroEscribano creation</h1>

<form action="{{ path('registro_escribano_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('registro_escribano') }}">
            Back to the list
        </a>
    </li>
</ul>
{%endblock%}
